body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 6rem;
}
body::-webkit-scrollbar
{
	width: 10px;
	background-color: #000;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
body{
    background:rgb(8, 8, 8);
  }
  .intro,
  .intro a{
    color:#fff;
    font-family: Arial;
   }
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    background: linear-gradient(97.22deg, rgb(181, 210, 255) -20.38%, rgb(32, 148, 255) 22.55%, rgb(195, 79, 250) 54.73%, rgb(255, 97, 135) 86.84%, rgb(248, 213, 72) 106.95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Serif";
    font-size: 4em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}

/* balloon */

span {
    text-transform: uppercase;
}

.container {
    width: 800px;
    height: 0px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.balloon {
    width: 738px;
    margin: -20rem auto;
    padding-top: 30px;
    position: relative;
}

.balloon>div {
    width: 104px;
    height: 140px;
    background: rgba(182, 15, 97, 0.9);
    border-radius: 0;
    border-radius: 80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding: 10px;
    box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
    -webkit-transform-origin: bottom center;
}

.balloon>div:nth-child(1) {
    background: rgba(182, 15, 97, 0.9);
    left: -100px;
    box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(1):before {
    color: rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(2) {
    background: rgba(242, 112, 45, 0.9);
    left: 20px;
    box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}

.balloon>div:nth-child(2):before {
    color: rgba(242, 112, 45, 0.9);
}

.balloon>div:nth-child(3) {
    background: rgba(45, 181, 167, 0.9);
    left: 140px;
    box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
    -webkit-animation: balloon4 6s ease-in-out infinite;
    -moz-animation: balloon4 6s ease-in-out infinite;
    -o-animation: balloon4 6s ease-in-out infinite;
    animation: balloon4 6s ease-in-out infinite;
}

.balloon>div:nth-child(3):before {
    color: rgba(45, 181, 167, 0.9);
}

.balloon>div:nth-child(4) {
    background: rgba(190, 61, 244, 0.9);
    left: 260px;
    box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
    -webkit-animation: balloon1 5s ease-in-out infinite;
    -moz-animation: balloon1 5s ease-in-out infinite;
    -o-animation: balloon1 5s ease-in-out infinite;
    animation: balloon1 5s ease-in-out infinite;
}

.balloon>div:nth-child(4):before {
    color: rgba(190, 61, 244, 0.9);
}

.balloon>div:nth-child(5) {
    background: rgba(180, 224, 67, 0.9);
    left: 380px;
    box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
}

.balloon>div:nth-child(5):before {
    color: rgba(180, 224, 67, 0.9);
}

.balloon>div:nth-child(6) {
    background: rgba(242, 194, 58, 0.9);
    left: 500px;
    box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon3 3s ease-in-out infinite;
    -moz-animation: balloon3 3s ease-in-out infinite;
    -o-animation: balloon3 3s ease-in-out infinite;
    animation: balloon3 3s ease-in-out infinite;
}

.balloon>div:nth-child(6):before {
    color: rgba(229, 233, 18, 0.9);
}

.balloon>div:nth-child(7) {
    background: rgba(26, 97, 218, 0.9);
    left: 620px;
    box-shadow: inset 10px 10px 10px rgba(26, 97, 218, 0.9);
    -webkit-animation: balloon1 3s ease-in-out infinite;
    -moz-animation: balloon1 3s ease-in-out infinite;
    -o-animation: balloon1 3s ease-in-out infinite;
    animation: balloon1 3s ease-in-out infinite;
}

.balloon>div:nth-child(7):before {
    color: rgba(67, 115, 199, 0.9);
}

.balloon>div:nth-child(8) {
    background: rgba(226, 29, 134, 0.9);
    left: 740px;
    box-shadow: inset 10px 10px 10px rgba(226, 29, 134, 0.9);
    -webkit-animation: balloon4 3s ease-in-out infinite;
    -moz-animation: balloon4 3s ease-in-out infinite;
    -o-animation: balloon4 3s ease-in-out infinite;
    animation: balloon4 3s ease-in-out infinite;
}

.balloon>div:nth-child(8):before {
    color: rgba(226, 29, 134, 0.9);
}

.balloon>div:before {
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -11px;
    left: 52px;
    content: "▲";
    font-size: 1em;
}
.cont2{
    padding-bottom: 6rem;
}

img:nth-child(1){
    position: absolute;
    top: 400px;
    border-radius: 50%;
    left: 20px;
    width: 14rem;
    height: 14rem;
}
img:nth-child(2){
    position: absolute;
    top: 400px;
    border-radius: 50%;
    right: 20px;
    width: 14rem;
    height: 14rem;
}
img:nth-child(5){
    position: absolute;
    top: 800px;
    left: 20px;
    width: 10.5rem;
    height: 16rem;
}
img:nth-child(4){
    position: absolute;
    top: 800px;
    right: 20px;
    width: 10rem;
    height: 15rem;
}
img:nth-child(3){
    position: absolute;
    top: 1200px;
    left: 20px;
    width: 12rem;
    height: 14.5rem;
    
}
img:nth-child(6){
    position: absolute;
    top: 1200px;
    right: 20px;
    width: 14rem;
    height: 14rem;
}
img{
    animation: images 3s ease-in-out infinite;
    width: 16rem;
    height: 16rem;
    border-radius: 20px;
    position: absolute;
}
.message{
    color: white;
    text-align: center;
    width: 60%;
    margin-inline: auto;
    font-size: 1.5rem;
}
span {
    font-size: 4.8em;
    color: white;
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -27px;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -webkit-transform: translateY(-20px) rotate(8deg);
    }
}
@-webkit-keyframes images {

    0%,
    100% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes balloon1 {

    0%,
    100% {
        -moz-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -moz-transform: translateY(-20px) rotate(8deg);
    }
}

@-o-keyframes balloon1 {

    0%,
    100% {
        -o-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -o-transform: translateY(-20px) rotate(8deg);
    }
}

@keyframes balloon1 {

    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }

    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(6eg);
    }

    50% {
        -webkit-transform: translateY(-30px) rotate(-8deg);
    }
}

@-moz-keyframes balloon2 {

    0%,
    100% {
        -moz-transform: translateY(0) rotate(6deg);
    }

    50% {
        -moz-transform: translateY(-30px) rotate(-8deg);
    }
}

@-o-keyframes balloon2 {

    0%,
    100% {
        -o-transform: translateY(0) rotate(6deg);
    }

    50% {
        -o-transform: translateY(-30px) rotate(-8deg);
    }
}

@keyframes balloon2 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-30px) rotate(-8deg);
    }
}

/* BAllOON 0*/
@-webkit-keyframes balloon3 {

    0%,
    100% {
        -webkit-transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        -webkit-transform: translate(-20px, 30px) rotate(-8deg);
    }
}

@-moz-keyframes balloon3 {

    0%,
    100% {
        -moz-transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        -moz-transform: translate(-20px, 30px) rotate(-8deg);
    }
}

@-o-keyframes balloon3 {

    0%,
    100% {
        -o-transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        -o-transform: translate(-20px, 30px) rotate(-8deg);
    }
}

@keyframes balloon3 {

    0%,
    100% {
        transform: translate(0, -10px) rotate(6eg);
    }

    50% {
        transform: translate(-20px, 30px) rotate(-8deg);
    }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {

    0%,
    100% {
        -webkit-transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        -webkit-transform: translate(-15px, 20px) rotate(10deg);
    }
}

@-moz-keyframes balloon4 {

    0%,
    100% {
        -moz-transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        -moz-transform: translate(-15px, 10px) rotate(10deg);
    }
}

@-o-keyframes balloon4 {

    0%,
    100% {
        -o-transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        -o-transform: translate(-15px, 10px) rotate(10deg);
    }
}

@keyframes balloon4 {

    0%,
    100% {
        transform: translate(10px, -10px) rotate(-8eg);
    }

    50% {
        transform: translate(-15px, 10px) rotate(10deg);
    }
}